.titleBorder {
	background-color: #9e8e75;
	border-color: black;
    border-width: 5px;
    border-style: solid;
	margin-left: 0.6vw;
    margin-right: 0.6vw;
}

.nodeBox{

    background-color: #9e8e75;
	border-color: #000000;
    border-width: 3px;
    height: 16vh;
    border-style: solid;
    

}

body {
	background-color: rgb(168, 152, 142);
	height: 100%;
    z-index: 0;
}